/* Common to all Pages */
::selection {
    background-color: var(--theme-color);
    color: white;
}

.all_headings {
    color: #000;
}

.category-title a:hover {
    text-decoration: underline;
    scale: 1.1;
}

.form-check-input:checked {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

body {
    font-family: "Roboto", Verdana, Helvetica, sans-serif !important;
    direction: ltr !important;
}

.topbar {
    background-color: #000000;
    color: white;
    padding: 5px 0px;
}

.topbar span{
    font-size: 14px;
}

.header_navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px #f7eded;
}

.user_name,
.user_name_icon {
    color: #9ba1ab;
}

.user_name:hover {
    color: var(--theme-color);
    box-shadow: 0 0 5px white !important;
    font-weight: 600;
}

.user_name:hover .user_name_icon {
    color: var(--theme-color);
}

.main_navbar {
    background-color: #f8f8f8;
}

.logo_image {
    width: 12vw;
    padding: 0px 24px;
}

.second_part_navbar,
.third_part_navbar {
    flex-direction: row;
}

.second_part_navbar .nav-item,
.third_part_navbar .nav-item {
    padding: 5px 10px;
}

.second_part_navbar .nav-item a {
    font-size: 14px;
}

.second_part_navbar .nav-item a {
    font-size: 16px;
}

@media (max-width: 1160px) {
    .second_part_navbar .nav-item a {
        font-size: 14px;
    }

    .navbar_icons {
        width: 25px !important;
    }
}

.second_part_navbar .page_links {
    color: #000;
    position: relative;
    display: inline-block;
}

.second_part_navbar .page_links::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: transparent;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.second_part_navbar li:hover .page_links::before {
    width: 100%;
    background-color: black;
}

.second_part_navbar li:hover .page_links {
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar_icons {
    width: 30px;
}

.navbar ul li a:hover {
    cursor: pointer;
}

.cout_badge {
    position: absolute;
    right: -10px;
    top: 1px;
    font-size: 10px;
    background-color: var(--theme-color)!important;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-content-women {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 45px;
    padding: 5px 0px;
}

.dropdown-content-sub {
    display: none;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content-women {
    display: block;
}

.dropdown_two:hover .dropdown-content-sub {
    display: block;
}

.dropdown-content li,
.dropdown-content-women li {
    list-style: none;
}

.dropdown-content a,
.dropdown-content-women a {
    color: black;
    padding: 6px 3px;
    text-decoration: none;
    list-style: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content-women a:hover {
    background-color: #f1f1f1;
}

.unordered_list {
    padding-left: 10px;
    margin: 0;
}

.nav-link {
    padding: 5px;
}

.ruler {
    margin: 5px 0px;
}

/* Search Bar */
.search_input_box,
.search_input_box:focus {
    background-color: #e8e8e8;
    color: #000;
    padding: 10px 5px;
    border: 0px;
    margin-right: 5px;
}

.offcanvas_close_search {
    margin-top: 1px !important;
    padding: 12px 12px !important;
    border-radius: 0px;
    margin-left: 5px;
}

.offcanvas_close_search:hover {
    background-color: #e8e8e8;
}

.search_suggestion_btn:hover {
    border: 1px solid black;
}

.search_suggestion_btn {
    border: 1px solid #dee2e6;
}

.search-card_image {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Mobile navbar */
.mobile_logo {
    width: 130px;
}

.mobile_navbar {
    background-color: #f8f8f8;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.mobile_user {
    padding: 9px;
}

.mobile_navbar_icons {
    width: 25px;
}

.user_icon {
    font-size: 1.3rem;
}

.mobile_hamburger {
    margin-right: 9px;
}

.close_btn_offcanvas {
    margin-right: -35px !important;
    background-color: white;
    opacity: 1;
    padding: 15px !important;
}

.close_btn_offcanvas:hover {
    background-color: var(--theme-color);
    color: white;
}

.close_btn_offcanvas_profile {
    margin-left: -40px !important;
    background-color: white;
    opacity: 1;
    padding: 15px !important;
}

.close_btn_offcanvas_profile:hover {
    background-color: var(--theme-color);
    color: white;
}

.sub_category_item {
    margin: 5px 0px;
}

.sub_category_item span {
    cursor: pointer;
}

.sub_category_item span:hover {
    color: var(--theme-color);
    text-decoration: underline;
    font-size: 14px;
}

.mobile_navbar {
    display: none;
}

@media (max-width: 1090px) and (min-width: 150px) {
    .mobile_navbar {
        display: block;
    }

    .header_navbar,
    .topbar {
        display: none;
    }
}

.first_level_category {
    font-weight: 700;
    font-size: 15px;
}

.second_level_category {
    font-weight: 500;
    font-size: 14px;
    color: #181818;
}

.second_level_category:hover {
    color: var(--theme-color);
    font-size: 14px;
    text-decoration: underline;
}

.third_level_category {
    font-weight: 500;
    font-size: 13px;
    color: #373737;
}

.last_level_category {
    font-weight: 400;
    font-size: 12px;
    color: #585858;
}

.mobile_navbar_left {
    width: 25%;
}

.mobile_navbar_middle {
    width: 50%;
}

.mobile_navbar_right {
    width: 25%;
}

@media (max-width: 480px) and (min-width: 100px) {
    .mobile_navbar_left {
        width: 25%;
    }

    .mobile_navbar_middle {
        width: 35%;
    }

    .mobile_navbar_right {
        width: 40%;
    }

    .user_name,
    .user_name_icon {
        font-size: 12px;
    }

    #cart_count_mobile {
        top: 25% !important;
        background-color: var(--theme-color);
    }

    .mobile_navbar_icons {
        width: 22px !important;
    }

    .mobile_logo {
        width: 100px;
        margin: auto;
    }

    .buy_now {
        margin-top: 10px;
    }
}

@media (max-width: 576px) and (min-width: 100px) {
    .slider_images {
        height: 120px !important;
    }
}
@media (max-width: 991px) and (min-width: 576px) {
    .slider_images {
        height: 250px !important;
    }
}


/* Main Content CSS */
/* Slider */
.slider_images {
    width: 100%;
    height: 350px;
}

/* Product Card */
.product_card {
    border: 0px;
    margin: 2px 10px;
    height: 415px;
}

.product_card_img {
    height: 250px;
    object-fit: contain;
}

.product_card_wishlist_div {
    /* position: relative;
    top: 6px;
    z-index: 99;
    float: right;
    display: flex;
    justify-content: end;
    right: 235px; */
    display: flex;
    flex-direction: row;
    /* height: fit-content;
    position: absolute;
    justify-content: space-between;
    margin-top: 5px; */
}

.mobile_sale_img{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product_wishlist_image_div{
    width: 30px;
    height: 30px !important;
}

.sale_badge_div{
    background-color: var(--theme-color);
    font-size: 12px;
    margin: 4px 0px 8px 7px;
    border-radius: 15px;
}

.wishlist_link{
    justify-content: space-between;
    display: flex;
    margin-left: 5px;
}

.wishlist_link[title]:hover::after{
    background-color: black;
    color: white;
}

.cart_img_div{
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 99;
    border-radius: 50%;
    padding: 0;
}

 .product_wishlist_image_div:hover{
    background-color: var(--theme-color);
    border-radius: 50%;
}

.product_wishlist_image {
    width: 30px;
    height: 30px !important;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 0;
    z-index: 999;
}

.desktop_parent_img{
    position: relative;
}

.product_wishlist_image:hover {
    background-color: var(--theme-color);
}

.product_card:hover .product_card_icons_list_div {
    display: flex !important;
    opacity: 1;
}

.product_card_icons_list_div {
    display: none;
    position: relative;
    z-index: 99;
    float: right;
    justify-content: end;
    top: 40px;
    right: 0;
    opacity: 0;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.product_card_icons_list_ul {
    position: absolute;
}

.product_card_icons_list_li {
    margin-bottom: 2rem;
    text-decoration: none;
    list-style: none;
}

.product_card_icons_list_img {
    width: 30px;
    height: 30px !important;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}


.sale_badge {
    /* width: 20%; */
    position: absolute;
    background-color: var(--theme-color);
    left: 70px;
    font-weight: 500;
    border-radius: 50rem;
    padding: 5px;
    color: white;
    z-index: 99;
}

.product_name {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left !important;
}

.product_name_link :hover {
    color: var(--theme-color);
    ;
}

.price_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
    letter-spacing: 0.8px;
    padding-top: 2px;
}

.new-price {
    font-size: 16px;
    color: var(--theme-color);
    font-weight: bold;
    letter-spacing: 0.8px;
}

.color_selector {
    border: 1px solid black;
    border-radius: 50%;
    text-decoration: none;
    padding: 3px;
}

.color_box {
    border-radius: 50%;
}

.size_content {
    font-size: 12px;
}

.size_content:hover {
    text-decoration: underline !important;
    color: black;
    font-weight: bold;
    border: 1px solid black !important;
}

.size_selected {
    text-decoration: underline !important;
    color: black;
    font-weight: bold;
    border: 1px solid black !important;
}

/* Image Category */
.category_image {
    width: 200px;
    object-fit: contain;
}

.category_image_container {
    width: 15%;
}

.cate_img_div {
    width: 100%;
}

.category_image {
    width: 100%;
    height: 280px;
    object-fit: contain;
}

.mobile_image_gallary {
    display: none;
}

@media (min-width:150px) and (max-width: 576px) {
    .category_image_container {
        width: 33%;
    }

    .cate_img_div {
        width: 100%;
    }

    .category_image {
        width: 90%;
        height: 100%;
        object-fit: contain;
    }

    .footer_boxes {
        margin: 10px 0px !important;
        width: 100% !important;
    }

    .footer_box_content {
        margin: 0px;
    }

    .single_img {
        height: 180px !important;
    }

    .pd_dress_name_bread {
        font-size: 14px;
    }

    .breadcrumb_ul_list {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_box_img {
        width: 80px !important;
        height: 50px !important;
    }

    .read_reviews {
        width: 100% !important;
    }

    .mobile_image_gallary {
        display: block;
    }

    .img_gallary_ar {
        display: none;
    }

    .mobile_gallary_img {
        width: 100%;
        height: 50vh;
    }

    .mobile_gallary_bottom {
        height: 150px;
    }
}

@media (min-width:577px) and (max-width: 769px) {
    .category_image_container {
        width: 33%;
    }

    .cate_img_div {
        width: 100%;
    }

    .category_image {
        width: 90%;
        height: 100%;
        object-fit: contain;
    }

    .footer_boxes {
        margin: 10px !important;
        width: 100% !important;
    }

    .footer_box_img {
        width: 85px;
        height: 60px;
    }

}

@media (max-width: 1200px) and (min-width: 770px) {
    .footer_boxes {
        margin: 10px !important;
        width: 47% !important;
    }

    .footer_box_content {
        margin-top: 0px !important;
    }
}

@media (max-width: 1017px) and (min-width: 769px) {
    .buy_now {
        margin-top: 10px;
    }
}

@media (max-width: 768px) and (min-width: 150px) {

    .img_gallary,
    .product_main_content {
        width: 100%;
    }

    .cart_main_banner {
        display: none;
    }

    .img_gallary_ar {
        aspect-ratio: 3/2;
    }

    .image_slider {
        display: none;
    }

    .single_img {
        height: 250px;
        width: 100%;
        object-fit: contain;
        aspect-ratio: 3/2;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 20px;
        padding: 4px 8px;
    }

}

.single_img {
    transition: all 0.5s ease-in-out;
    width: 49%;
    object-fit: contain;
}

.single_img:hover {
    transform: scale(1.09);
}

.add_to_cart,
.buy_now {
    flex-grow: 1;
    flex-basis: auto;
}

.add_to_cart {
    flex-shrink: 0;
}


.banner_image {
    object-fit: contain;
    width: 100%;
}

/* Footer */
.amm_footer {
    background-color: #f0f0f0;
}

.footer_boxes {
    background-color: white;
    margin: 0px 10px;
    width: 23%;
    padding: 15px;
    position: relative;
}

.more_info_footer {
    color: rgba(0, 0, 0, 0.76);
}

.newsletter_footer {
    font-size: 12px;
}

.sub_btn_footer {
    background-color: var(--theme-color);
    ;
    color: white;
    font-weight: 600;
    margin-top: 5px;
    letter-spacing: 1px;
}

.sub_btn_footer:hover {
    border: 1px solid var(--theme-color);
    ;
    background-color: transparent;
}

.sub_input_footer {
    padding: 5px 5px;
}

.footer_box_img {
    width: 90px;
    height: 77px;
    right: 0;
    position: absolute;
    top: 0;
}

.footer_box_content {
    margin-top: 12px;
}

.footer_box_content h5 {
    font-weight: bold;
    text-transform: uppercase;
    color: #181818;
    font-family: inherit;
}

/* Product Details */
.pd_top_banner {
    height: 150px;
    background-image: url('../../images/pro_detail_bg.jpg');
    object-fit: contain;
}

.pd_dress_name_bread_div {
    margin: auto;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--mr-breadcrumb-divider, ">");
}

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item a:hover {
    color: var(--theme-color);
    text-decoration: underline;
}

.pd_dress_name:hover {
    color: var(--theme-color);
    cursor: pointer;
}

.pd_old_price {
    font-size: 18px;
    text-decoration: line-through;
    color: #aaaaaa;
    font-weight: 500;
}

.pd_new_price {
    font-size: 20px;
    color: var(--theme-color);
    font-weight: 500;
}

.pd_desc_content {
    font-size: 14px;
    color: #777;
    text-align: justify;
}

.pd_color_box_div {
    height: 60px;
}

.pd_color_selector,
.pd_additional_info {
    border-radius: 50%;
    margin-right: 10px;
}

.pd_color_selector:hover {
    border: 1px solid var(--theme-color);
    padding: 1px;
    transition: all 0.8 ease-in-out;
}

.pd_color_box {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.color_selected {
    padding: 2px;
    border: 1px solid var(--theme-color);
}

.pd_color_container {
    display: flex;
}

.pd_size_container {
    display: flex;
}

.pd_size_selector {
    padding: 3px;
    border: 1px solid rgb(83, 73, 83);
    margin: 0;
    border-radius: 50%;
    width: 40px;
    display: inline-block;
    text-align: left;
    height: 40px;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pd_size_selector:hover {
    border: 1px solid var(--theme-color);
}

.selected_size,
.selected_size span {
    background-color: #000;
    color: white !important;
}

.pd_size_content {
    color: black;
}

.pd_add_to_cart {
    background-color: var(--theme-color);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}

.pd_buy_now {
    background-color: black;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}

.pd_add_to_cart:hover {
    background-color: #ee2c60c0;
    color: white;
}

.pd_buy_now:hover {
    background-color: #000000a9;
    color: white;
}

.pd_counter {
    margin-left: 14px;
}

.pd_quantity {
    width: 65px;
    text-align: left;
    position: relative;
    display: inline-block;
    padding: 0px;
}

.pd_quantity .pd_plus_qty,
.pd_quantity .pd_minus_qty {
    border: 1px solid #efefef;
    overflow: hidden;
    width: 27px;
    height: 21px;
    position: absolute;
    text-align: center;
    padding: 0;
    left: auto;
    right: 0;
    background: #fff;
    font-weight: normal;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: var(--theme-color);
}

#quantity {
    border: 1px solid #efefef;
    height: 42px;
    padding: 0px;
    line-height: 41px;
    width: 43px !important;
    display: inline-block;
    margin: 0;
    text-align: center;
    color: #666666;
    font-weight: normal;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
}

.pd_minus_qty {
    top: 21px;
}

.pd_share {
    color: #777;
}

.pd_tab_btn {
    color: #777;
    font-size: 20px;
}

.pd_tab_btn:hover {
    color: #000;
    font-size: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white;
    background-color: var(--theme-color);
    padding: 6px 2em;
}

.read_reviews {
    width: 40%;
}

.pd_add_head {
    font-weight: bold;
    color: #000;
    width: 50%;
}

.pd_add_content {
    color: #777;
    padding-left: 3em !important;
}

.pd_small_images {
    width: 50px;
    height: 70px;
}

.offcanvas {
    transition: all 0.7s ease-in-out;
}

.js-image-zoom__zoomed-image{
    z-index: 1000 !important;
    width: 100% !important;
}

.pd_badge_images{
    width: 150px;
}

@media (max-width: 991px) and (min-width: 768px){
    .pd_badge_images{
        width: 110px;
    }   
}

@media (max-width: 400px) and (min-width: 100px){
    .pd_badge_images{
        width: 100px;
    }
}

/* Filter page */
.down_arrow_img {
    width: 15px;
    height: 10px;
}

.mobile_filter {
    display: none;
}

.filter_div_sorting {
    z-index: 100;
    right: 0;
    top: 30px;
}

.mobile_cart {
    display: none;
}

.mobile_image_slider {
    display: none;
}

#searchOffcanvas{
    width: 100%;
    top: 0;
}

@media (min-width: 250px) and (max-width: 768px) {
    .mobile_filter {
        display: block;
    }

    .desktop_filters {
        display: none;
    }

    .filter_property {
        font-size: 18px;
        font-weight: bold;
    }

    .offcanvas_title_filter {
        font-weight: 500;
        font-size: 24px;
        padding: 10px 15px;
        border: 1px solid var(--theme-color);
        color: var(--theme-color);
    }

    .offcanvas_title_filter:hover {
        background-color: var(--theme-color);
        color: white;
    }

    .filter_accordian_prop:hover {
        cursor: pointer;
        color: var(--theme-color);
    }

    .mobile_cart {
        display: block;
    }

    .mobile_cart thead{
        display: block;
        background-color: #f5f5f5;
    }

    .mobile_cart thead tr{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .mobile_cart tbody tr td a{
        text-align: left;
        margin-left: 5px;
    }

    .desktop_cart {
        display: none;
    }

    .checkout_left_content,
    .checkout_right_content {
        padding: 5px !important;
    }

    .coupon_code_button {
        padding: 9px !important;
    }

    .checkout_right_content {
        margin-bottom: 2rem;
    }

    .shipping_div_cont td,
    .shipping_div_cont th {
        padding: 5px 4px;
    }

    .cart_product_name_link {
        font-size: 14px !important;
    }

    .mobile_image_slider {
        display: flex;
    }

    .basic_button {
        font-size: 12px;
    }

    .basic_button .text-uppercase{
        margin-top: 0px !important;
    }

    .user_dashboard_mobile_offcanvas{
        width: 70%;
    }

}

.product_card:hover {
    box-shadow: 0px 0px 5px var(--theme-color);
    margin-bottom: 5px;
}

#add_to_cart_btn_toggle {
    display: none;
}

@media (max-width: 576px) {
    .product_card_filter {
        width: 100% !important;
    }

    .product_card_img {
        height: 140px;
    }

    .product_name {
        font-size: 13px;
        text-align: start !important;
        height: 33px;
        font-weight: 600;
        letter-spacing: 0.4px;
        overflow: hidden;
    }

    .old-price {
        font-size: 12px;
    }

    .new-price {
        font-size: 13px;
    }

    .card-body {
        padding: 1rem 0px;
    }

    .product_card {
        margin: 5px !important;
        padding: 0px 5px !important;
        height: 360px;
    }

    .product_wishlist_image,
    .product_card_icons_list_img {
        width: 20px !important;
    }

    .product_card_icons_list_div {
        top: 22px !important;
    }

    .product_card_icons_list_li {
        margin-bottom: 1.4rem;
    }

    .sale_badge {
        font-size: 12px;
        left: 110px;
        /* width: 30%; */
    }

    .color_selector {
        padding: 0px;
    }

    .price_div {
        display: block;
    }

    .size_div {
        display: block !important;
        margin: 0.5rem 0rem;
    }

    #color_container_div {
        margin: 0px !important;
    }

    .size_content {
        font-size: 10px;
        margin: 0px;
        padding: 0px 5px;
    }

    #add_to_cart_btn_toggle {
        display: block;
        position: absolute;
        top: 120px;
        border: 2px solid var(--theme-color);
    }

    .add_to_cart_toggle {
        display: none;
    }

    #offcanvasRightCart {
        width: 80% !important;
    }

    .offcanvas_footer {
        width: 70% !important;
    }

    .mobile_scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mobile_scroll .nav-item {
        flex: 0 0 auto;
    }

    .mobile_scroll {
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: 1px;
        scrollbar-color: #ccc #f0f0f0;
    }

    .mobile_scroll::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
    }

    .mobile_scroll::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }

    .mobile_scroll::-webkit-scrollbar {
        width: 4px;
    }

    .mobile_scroll::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

}

@media (max-width: 800px) and (min-width: 577px) {
    .product_card_filter {
        width: 46% !important;
    }

    .product_card_img {
        height: 250px;
    }

    .mobile_scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mobile_scroll .nav-item {
        flex: 0 0 auto;
    }

    .mobile_scroll {
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: 1px;
        scrollbar-color: #ccc #f0f0f0;
    }

    .mobile_scroll::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
    }

    .mobile_scroll::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }

    .mobile_scroll::-webkit-scrollbar {
        width: 4px;
    }

    .mobile_scroll::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

@media (max-width: 992px) {
    .cart_details {
        display: none;
    }
}

#offcanvasRightCart {
    width: 40%;
}

.offcanvas_footer {
    width: 90%;
    margin-left: 5%;
}

.cart_offcanvas_img {
    height: 13vh;
    display: block;
    margin: auto;
}

.product_card_filter {
    width: 25%;
}

.filter_text {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.filter_btn a {
    color: #000;
}

.filter_btn a:hover,
.filter_btn:hover {
    color: var(--theme-color);
    cursor: pointer;
}

.filter_common {
    background-color: #f9f9f9;
}

.color_filter {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    width: 100px;
}

#filter_1 {
    transition: height 1s ease;
}

.color_filter_bg {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: inset 0 0 3px #000;
}

.color_filter_bg::after {
    content: "\2714";
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.show-symbol::after {
    opacity: 1;
}

.size_filter {
    position: relative;
}

.filter_size_selector {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ac1616;
    border-radius: 50%;
}

.size_content_filter {
    position: relative;
    right: -30px;
    font-size: 18px;
}


/* Login */
.login_welcome {
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}

.login_modal {
    padding: 50px;
    padding-top: 20px;
}

.required_field {
    color: red;
}

.login_form {
    margin: 20px 0px;
}

.login_form div {
    margin: 10px 0px;
}

.login_form_div {
    height: 90vh;
}

.login_form_siggnin_btn {
    background-color: var(--theme-color);
    color: white;
    height: 45px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form_siggnin_btn:hover {
    background-color: rgb(17, 24, 17);
    color: white;
}

@media (min-width: 250px) and (max-width: 500px) {
    .login_modal {
        padding: 20px;
    }
}


/* Cart */
.cart_main_banner {
    background-color: #fafafa;
}

.count_one {
    font-size: 50px;
    font-weight: 500;
}

.cart_shopping {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
}

.cart_content {
    margin-top: 11px;
}

.cart_count_second_div,
.cart_count_second_div h6 {
    color: rgb(208, 208, 208);
}

.cart_count_second_div:hover {
    color: var(--theme-color);
}

.cart_left_div {
    font-size: 16px;
    font-weight: 500;
}

.cart_right_div {
    font-size: 16px;
}

.cart_right_div strong {
    font-size: 14px;
}

.total {
    font-size: 18px;
    font-weight: 600;
}

.total_price {
    font-size: 18px;
    font-weight: 600;
    color: var(--theme-color);
}

.pro_checkout_btn {
    background-color: var(--theme-color);
    color: white;
    text-transform: uppercase;
    margin: 20px 0px;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.pro_checkout_btn:hover {
    background-color: #000;
    color: white;
}

.cart_total_heading {
    margin: 10px 0px;
    text-transform: uppercase;
}

.cart_image {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.cart_image:hover {
    transition: all 1s ease-in-out;
}

.cart_image_mobile {
    width: 100px;
    height: 70px;
    object-fit: contain;
    margin: auto;
}

.cart_delete_icon:hover {
    cursor: pointer;
    color: var(--theme-color);
}

.price,
.quntity,
.subtotal,
.cart_product_name_link {
    vertical-align: middle;
}

.cart_product_name_link {
    color: black;
    font-size: 16px;
}

.cart_product_name_link:hover {
    color: var(--theme-color);
}

.price,
.cart_total_price {
    color: var(--theme-color);
    font-size: 16px;
    font-weight: 600;
}

.cart_content_table th {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.coupon_code_button {
    background-color: var(--theme-color);
    color: white;
    font-weight: 600;
    letter-spacing: 1.4px;
    padding: 9px 25px;
    text-transform: uppercase;
}

.coupon_code_button:hover {
    background-color: #000;
}

.price_amount_mobile {
    color: var(--theme-color);
    font-weight: 600;
}

.old_price_amount {
    font-size: 14px;
    color: black;
    text-align: center;
    text-decoration: line-through;
    font-weight: 500;
}

/* Checkout */
.checkout_logo {
    width: 180px;
    height: 100px;
}

.checkout_left_content {
    padding: 20px 50px;
}

.breadcrumb_checkout ol li {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    padding: 13px 2px;
}

.breadcrumb_checkout ol li a {
    color: rgb(0 0 0 / 33%);
}

.breadcrumb-item.active a {
    font-weight: 600;
    color: #000 !important;
}

.checkout_heading {
    font-size: 18px;
    padding: 10px 0px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.checkout_left_content form input,
.checkout_left_content form select {
    margin: 5px 0px;
    border-radius: 5px;
}

.back_to_cart {
    color: rgb(0 0 0 / 53%);
    font-weight: bold;
    text-align: left;
}

.submit_btn_address {
    background-color: var(--theme-color);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    position: relative;
    display: inline-block;
}

.submit_btn_address:hover {
    background-color: black;
    color: white;
}

.checkout_right_content {
    background-color: #f9f9f9;
    padding: 50px;
    padding-top: 30px;
    padding-left: 30px;
}

.checkout_prod_name {
    font-weight: 600;
    color: #000;
    letter-spacing: 0.8px;
    line-height: 20px;
}

.checkout_prod_name_div,
.checkout_prod_price_div {
    vertical-align: middle;
    margin: auto;
}

.checkout_prod_price {
    color: var(--theme-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.checkout_prod_img_div {
    position: relative;
}

.checkout_image {
    width: 86px;
    height: 107px;
    object-fit: fill;
    border-radius: 8px;
}

.prod_quantity {
    position: absolute;
    right: 22px;
    top: -6px;
    background-color: #666666;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
}

.checkout_checkbox label {
    font-size: 16px;
    font-weight: 600;
}

.shipping_change_btn {
    color: #aaaaaa;
}


/* User Dashboard */
.dashboard_welcome {
    color: #888;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.dashboard_username {
    color: #000;
    font-weight: 500;
}

.user_pages li a {
    color: #888;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}

.user_pages li a:hover {
    color: black;
}

.user_pages li a.active {
    color: black;
}

.user_pages li {
    padding: 0px 20px;
}

.user_pages {
    padding: 10px 0px;
}

.lineruler {
    margin: 10px;
}

.dashboard_box {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 16vh;
    border: 1px solid;
    vertical-align: middle;
    font-size: 32px;
    color: #999;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dashboard_box h5 {
    color: #999;
    padding: 5px 0px;
}

.dashboard_box:hover {
    color: var(--theme-color);
}

.dashboard_box:hover h5 {
    color: black
}

.change_password {
    position: absolute;
    top: -11px;
    background-color: white;
    width: 150px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.user_account_details input,
.user_account_details select {
    border-radius: 5px;
}

/* Wishlist Items */
.wishlist_image {
    object-fit: contain;
    width: 100%;
    height: 180px;
}

.empty_shopping_list_img {
    height: 20rem;
    width: auto;
}

.back_to_home_btn {
    background-color: var(--theme-color);
    text-transform: uppercase;
    padding: 7px 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
}

.back_to_home_btn:hover {
    color: white;
    background-color: #000;
}

/* Orders Page */
.order_function_btn {
    text-transform: uppercase;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0px;
}

.order_function_btn:hover {
    color: var(--theme-color);
    cursor: pointer;
}

.order_page_heading {
    font-weight: bold;
}

.cart_prod_name {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.cart_prod_name:hover {
    color: var(--theme-color);
}

.mobile_dashboard_sidebar {
    display: none;
}

@media (max-width: 769px) {
    .mobile_dashboard_sidebar {
        display: flex;
    }

    .desktop_dashboard_sidebar {
        display: none;
    }
}

.dashboard_offcanvas,
.dashboard_offcanvas:hover {
    background-color: var(--theme-color);
    color: white;
    border: 1px solid var(--theme-color);
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 14px;
}

.address_field_error {
    color: red;
}

.basic_button {
    background-color: var(--theme-color);
    color: white;
    padding: 5px 10px;
    letter-spacing: 0.7px;
}

.basic_button:hover {
    background-color: black;
    color: white;
}

#cart_count_mobile {
    display: block !important;
    position: absolute;
    right: 2px;
    top: 20px;
    font-size: 10px;
    color: white !important;
    /* border: 1px solid black; */
    background-color: var(--theme-color) !important;
}

.delete_btn:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.493);
    color: white;
}

.sidebar_links_profile {
    color: var(--theme-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.sidebar_links_profile i {
    color: #00000073 !important;
}

.sidebar_links_profile:hover {
    font-weight: 600;
    color: var(--theme-color);
    text-decoration: underline;
    letter-spacing: 0.8px;
}

/* Cart Offcanvas */
.cart_offcanvas_qty {
    display: flex;
    width: min-content;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(252, 246, 249, 0.76);
}

.cart_offcanvas_qty input {
    width: 30px;
    font-size: 14px;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

.cart_offcanvas_qty a {
    padding: 0 5px;
    color: black;
}

.cart_offcanvas_pname {
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.cart_offcanvas_attr {
    color: #000;
    text-transform: uppercase;
}

.cart_offcanvas_pname:hover {
    color: var(--theme-color);
}

.offcanvas_footer {
    position: fixed;
    bottom: 0;
}

.cart_products {
    overflow-y: scroll;
    height: calc(100vh - 220px);
    overflow-x: hidden;
}

.view_cart,
.view_cart:hover {
    text-transform: uppercase;
    background-color: #dbdbdb;
    letter-spacing: 1px;
}

.checkout,
.checkout:hover {
    text-transform: uppercase;
    background-color: var(--theme-color);
    color: white;
    letter-spacing: 1px;
}

/* Loader */
.loader_new,
.loader_new_1 {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.filterpagecards {
    width: 25%;
}

@media(min-width: 100px) and (max-width:500px) {
    .filterpagecards {
        width: 49%;
    }
}

@media(min-width: 500px) and (max-width:600px) {
    .filterpagecards {
        width: 33%;
    }
}

@media(min-width: 577px) and (max-width:800px) {
    .product_card_img {
        height: 210px;
    }

    .product_name {
        font-size: 16px;
        font-weight: 600;
    }

    .sale_badge {
        /* width: 26%; */
        left: 96px;
    }
}

@media(min-width: 601px) and (max-width:1024px) {
    .filterpagecards {
        width: 33%;
    }

    .product_card_img {
        height: 240px;
    }
}

#cartdetailsdivid {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    #cartdetailsdivid {
        width: 80%;
    }
}

@media (min-width: 769px) {
    #cartdetailsdivid {
        width: 40%;
    }
}

/* New CSS */
.category_links a {
    color: var(--theme-color);
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: inherit;
}

.single-home-two-arrival-box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.customer-benefit-content h4,
.customer-benefit-content {
    color: var(--theme-color);
}

ul.list-unstyled li {
    padding-left: 0px !important;
}

ul.list-unstyled li a {
    color: #000000;
    font-size: 14px !important;
}

.breadcrumb-link p {
    color: var(--theme-color) !important;
}

.home_link_bread:hover {
    text-decoration: underline;
}

.badge_stock {
    background-color: #ee2c61;
    letter-spacing: 1px;
    width: fit-content;
    padding: 3px 7px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}


/* Review Star */
.rating_star {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
}

.rating_star input {
    appearance: unset;
}

.rating_star label {
    cursor: pointer;
}

.rating_star svg {
    width: 2.3rem;
    height: 2.3rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
    from {
        stroke-dashoffset: 24;
    }
}

.rating_star label:hover svg {
    stroke: var(--fill);
}

.rating_star input:checked~label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 3px;
}

@keyframes yippee {
    0% {
        transform: scale(1);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30% {
        transform: scale(0);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30.1% {
        stroke: var(--fill);
        stroke-dasharray: 0;
        stroke-linejoin: miter;
        stroke-width: 8px;
    }

    60% {
        transform: scale(1.2);
        fill: var(--fill);
    }
}

.input_error{
    box-shadow: 0 0 6px red;
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li button{
    margin: 0px 5px;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 20%;
    content: dot;
    border: none;
    font-size: 12px;
    padding: 2px 5px;
}

.slick-dots .slick-active button{
    border: 1px solid black;
}

.category_head_name{
    -webkit-text-stroke: 1px black;
    color: transparent;
    letter-spacing: 4px;
}

.auth_login_signup{
    color: var(--theme-color);
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 14px !important;
    color: var(--theme-color) !important;
    padding: 6px 10px !important;
    box-shadow: 0 0 5px;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background: var(--theme-color) !important;
}

.mobile_sidebar_imgs:hover {
    box-shadow: 0 0 6px var(--theme-color);
}

.custumsearchoffcanvas{
    background-color: white;
    z-index: 1999;
    position: absolute;
    top: 0;
    height: 93px;
}

.cart-details{
    width: 100%;
}

@media (max-width: 600px) {
    .cart-details{
        width: 400px;
        margin: auto;
    }
    .mobile_order_margin{
        margin-left: 20px;
    }
}